<div class="login-container"></div>

<style>
    .login-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-container {
        padding-top: 40px;
    }

    .login-container>label {
        font-size: 12px;
        margin: 6px 0px;
        color: #003B70;
    }

    .login-container>input {
        margin-bottom: 12px;
    }

    .login-container>button {
        padding: 6px;
        background-color: #003B70;
        /* background-image: linear-gradient(#0057a3, #003B70); */
        color: white;
        cursor: pointer;
    }

    .login-container>button:hover {
        background-color: #0057a3;
    }
</style>