<main>

    <div class="container-fluid titulo">
        <div class="row">
            <div class="col-sm-12">
                <i class="fab fa-gg-circle fa-2x"><span class="ml-2">Transferir</span></i>

            </div>
        </div>
    </div>

    <div class="container CardMain mt-4">
        <div class="card">
            <i class="far fa-laugh fa-2x"></i>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <i class="far fa-laugh fa-2x"></i>
        </div>
    </div>
    <div class="transferir mt-4">
        <table class="table table-dark" style="width: 300px; margin: 0 auto;">
            <tbody>
                <tr>
                    <th scope="row"><i class="fab fa-gg-circle fa-2x"></i></th>
                    <td>$ 1000</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fab fa-gg-circle fa-2x"></i></th>
                    <td>$30 000</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fab fa-gg-circle fa-2x"></i></th>
                    <td>$ 400</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>

<style>
    .titulo {

        margin-top: 15px;

        /* background-color: teal; */
    }

    .titulo span {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        border-bottom: 1px solid #cccccc;
        /* color: blue; */
        margin-left: 20px;
        padding-bottom: 5px;
    }

    .CardMain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 150px;
        margin: auto 50px;
        border-radius: 10px;
        box-shadow: 0px 2px 1px 1px rgba(160, 160, 160, 0.2);
    }

    .card:hover {
        box-shadow: 0px 2px 3px 2px rgba(158, 158, 158, 0.4);
        transition: all 500ms;
    }

    .dot {
        width: 6px;
        height: 6px;
        margin-left: 20px;
        border-radius: 50%;
        background-color: #555555;
    }

    .fa-laugh {
        padding: 0 40px;
        color: #555555;
    }

    .table {
        text-align: center;
    }

    .table-dark {
        background-color: rgb(45, 214, 144);
    }

    .table-dark td,
    .table-dark th,
    .table-dark thead th {
        border-color: #fff;
        ;
    }
</style>